<if(input.css)>
  <for(file in input.css)>
    <link rel="stylesheet" type="text/css" href="/assets/css/${file}">
  </for>
</if>
<if(input.assets)>
  <if(input.assets.css)>
    <for(file in input.css)>
      <link rel="stylesheet" type="text/css" href="/assets/css/${file}">
    </for>
  </if>
</if>
