<if(input.js)>
  <for(file in input.js)>
    <script type="text/javascript" src="/assets/js/${file}"></script>
  </for>
</if>
<if(input.assets)>
  <if(input.assets.js)>
    <for(file in input.js)>
      <script type="text/javascript" src="/assets/js/${file}"></script>
    </for>
  </if>
</if>
